body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: white;
    text-align: center;
    margin-top: 80px;
}

.container {
    background: rgba(255,255,255,0.1);
    width: 350px;
    margin: auto;
    padding: 30px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
}

#timer {
    font-size: 60px;
    margin: 15px 0;
}

#step {
    font-size: 22px;
    color: #00e5ff;
}

.icon {
    font-size: 70px;
    margin: 15px 0;
    color: #00e5ff;
}

.progress-bar {
    width: 100%;
    height: 20px;
    background: #444;
    border-radius: 10px;
    overflow: hidden;
    margin: 15px 0;
}

#progress {
    height: 100%;
    width: 0%;
    background: #00e676;
}

.buttons button {
    margin: 8px;
    padding: 10px 18px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#message {
    margin-top: 15px;
    font-size: 20px;
    color: #00e676;
}
