html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    color: red;
    background: greenyellow;
    display: flex;
    flex-wrap: wrap;
    /*mettre en colonne le body (2 parties)*/
}

a {
    text-decoration: none;
    /* enlève le style de base sur les liens */
}

/* pour voir les limites des divs */

p {
    color: blue;
}

.texte {
    background: rgba(255, 255, 255, 0.6);
    padding: 50px 50px 50px 50px;
}

/* pour voir les limites des divs */

.button {
    background: red;
    /* couleur arrière plan */
    color: white;
    border-radius: 50px;
    /* angles ronds */
    margin: 15px auto;
    /* marge exterieure */
    padding: 5px 5px 10px;
    /* marge INTERIEURE */
    height: 50px 30px;
}

#menu {
    background: green;
    width: 20%;
    /*partie 1 du body */
    flex-direction: column;
    justify-content: start;
    display: flex;
    align-items: center;
    color: yellow;
}

#contenu {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: url('fond11.png') /*no-repeat center / cover*/;
}

b {
    font-size: 18px;
}

#playlist-names {
    list-style: none;
    padding: 0;
}

#playlist-names li {
    cursor: pointer;
    margin: 5px 0;
}

#playlist-names li:hover {
    color: blue;
}

#current-title{
    color: blue;
}
